#body{
    background-color: #030403;
    z-index: 1;
}

#main_container{
    background-color: #909290;
    width: 80%;
    height: 800px;
    margin-left: 10%;
    border: 2px solid #7c3272;
}

#text_logo {
    margin-left: 19.5%;
    width: 100px;
    height: 100px;
    z-index: 2;
}

#meny { 
    margin-top: 3%;
}   
.button-container {
    display: flex;
    justify-content:space-between;
    margin-right: 22%;
    margin-left: 22%;
}
      
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8d3b8d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
      
.button:hover {
    background-color: #7c3272;
}

#main {
    background-color: #5a5a58;
    margin-top: 4%;
    text-align: center;
    font-size: 17.5px;
    width: 900px;
    height: 470px;
    margin-left: 5%;
    border: 1px dashed solid black;
    border-radius: 200px;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border: 1px solid black;
    max-width: 100%;
    max-height: 200px;
}
 
#footer {
    border-top: 2px solid black;
    background-color: #5a5a58;
    text-align: center;
    margin-top: -2%;
}
