#body{
    background-color: #030403;
    z-index: 1;
}

#main_container{
    background-color: #909290;
    width: 80%;
    height: 800px;
    margin-left: 10%;
    border: 2px solid #7c3272;
}
#text_logo {
    margin-left: 19.5%;
    width: 100px;
    height: 100px;
    z-index: 2;
}

#meny { 
    margin-top: 3%;
}   
.button-container {
    display: flex;
    justify-content:space-between;
    margin-right: 22%;
    margin-left: 22%;
}
      
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8d3b8d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
      
.button:hover {
    background-color: #7c3272;
}

#schema {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 9%;
    position: absolute;
    top: 100px; 
    left: 43%; 
    font-size: 20px;
}

#schema p {
    font-size: 18px;
}

input::placeholder {
    font-family: "Times New Roman", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #999;
}

button {
    display: inline-block;
    font-family: "Times New Roman", sans-serif;
    font-size: 15px;
    padding: 5px 10px;
    text-decoration: none;
}

button:hover {
    background-color: #c4c1c1;
    cursor: pointer;
}

#footer {
    border-top: 2px solid black;
    background-color: #5a5a58;
    text-align: center;
    margin-top: -2%;
}